:root{
    --secondary-color: #02FFB1;
    --primary-color: #000000;
    --terciary-color: gray;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Quantico', sans-serif;
    box-sizing:border-box;
}
body{
    font-size: 30px;
}
header{
    width: 100%;
    height: 25%;
    background-color: var(--primary-color);
}
header a{
    color: var(--secondary-color);
    height: 100%;
}
nav div a:hover{
    color: var(--primary-color);
    background-color:var(--secondary-color);
}
footer{
    height: 25%;
    background-color: var(--primary-color);
    text-align: center;
    color: var(--secondary-color);
}
#showcase{
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/Nucleus/Prototipo1.jpeg");
    background-position: center;
    height: 93vh;
    font-size: 1.3em;
    line-height: 1.5;
}
#showcase p{
    color: var(--primary-color);
}
#showcase::after{
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
    height: 93%;
    width: 100%;
    position: absolute;
    content: '';
}
h1, h2{
    text-align: center;
    color: var(--secondary-color);
}
h1, p, a, div{
    z-index: 2;
}
.dropdown-menu{
    background-color: var(--primary-color);
}
.dropdown-item{
    color: var(--secondary-color);
}
.dropdown-item:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);
}
li{
    margin-left: 15px;
    margin-right: 15px;
}
.center{
    display: block;
}
section{
    display: flex;
    height: 5em;
}
div{
    padding: 15px;
}
section{
    background-color: var(--primary-color);
    width: 100%;
    border-top: 5px solid var(--terciary-color);
}
section p{
color: var(--secondary-color);
}
.green{
    background-color: var(--secondary-color);
}
.green p{
    color: var(--primary-color);
}
.green2{
    background-color: var(--secondary-color);
    height: 15em;
}
.green2 p{
    color: var(--primary-color);
}
.divider{
    position: relative;
    margin: 20px;
    height: 1px;
}

.div-transparent:before{
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
.pregunta{
    color:var(--primary-color);
    background-color: var(--secondary-color);
    
}
.respuesta{
    font-size: 25px;
    color:var(--secondary-color);
    
}
.faq{
    display: block;
    height: 10em;
}
p{
    width: 100%;
    text-align: center;
}
.qui{
display:flex;
width: 100%;
height: 100%;
align-items: center;
flex-direction:column;
}
.boton:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 9px;
    text-decoration: none;
}
.boton-green:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 9px;
    text-decoration: none; 
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 20%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.active{
  background-color: #717171;
}
