:root{
    --primary-color: #003566;
    --secondary-color: #ffc300;
    --terciary-color: #7400b8;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 15px;
}
nav{
    background-color: var(--primary-color);
    width: 100%;
    margin: 0 auto;
}
li{
    list-style: none;
}
header{
    width: 100%;
    height: 25%;
}
footer{
    height: 25%;
    background-color: var(--primary-color);
    text-align: center;
    color: var(--secondary-color);
}
#showcase a{
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}
#showcase a:hover{
    background-color: var(--secondary-color);
}
h1{
    color: var(--primary-color);
}
nav ul{
    padding: 0px;
    margin: 0 auto;
    width: 50%;
    display: table;
    justify-content: space-around;
}
nav ul li{
    display: table-cell;
    width: 33%;
}
nav ul li a{
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;    
}
nav ul li a:hover{
    background-color: var(--secondary-color);
}
#seleccion{
    background-color: var(--terciary-color);
}
#showcase{
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/moon.jpg");
    background-position: center;
    height: 93vh;
    font-size: 1.3em;
    line-height: 1.5;
}
#showcase::after{
    z-index: 1;
    background-color: rgba(59, 222, 228, 0.6);
    height: 20%;
    width: 40%;
    position: absolute;
    content: '';
    border-radius: 10px;
    border: 5px solid var(--primary-color);
}
#reserva{
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/moon.jpg");
    background-position: center;
    height: 93vh;
    font-size: 1.3em;
    line-height: 1.5;
}
#reserva::after{
    z-index: 1;
    background-color: rgba(59, 222, 228, 0.6);
    height: 30%;
    width: 40%;
    position: absolute;
    content: '';
    border-radius: 10px;
    border: 5px solid var(--primary-color);
}
#imatges{
    background-image: url("../img/moon.jpg");
    display: block;
}
#imatges div{
 margin-left: 15%;
 margin-right: 15%;
}
input{
    border-radius: 9px;
    border: 3px solid var(--primary-color);
    background-color: rgba(74, 223, 228, 0.6);
}
img{
    width: 30%;
    height: 30%;
    margin: 10px;
}
h1, p, a, div{
    z-index: 2;
}
@media screen and (max-width: 400px){
nav ul{
    width: 100%;
}
nav ul li{
    display: table;
    margin: 0 auto;
    width: 100%;
}
}